<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
		<link href="/css/Style.css" rel="styleSheet">
	<title>Liste des clients</title>
</head>

<body>
	<table>
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Nom</th>
				<th scope="col">Prénom</th>
				<th scope="col">Adresse</th>
				<th scope="col">Email</th>
				<th scope="col">Téléphone</th>
			</tr>
		</thead>
		<tbody>

			<tr th:each="client : ${ listeClient }">
				<th scope="row" th:text="${client.id}"></th>
				<td th:text="${client.nom}"></td>
				<td th:text="${client.prenom}"></td>
				<td th:text="${client.adresse}"></td>
				<td th:text="${client.email}"></td>
				<td th:text="${client.telephone}"></td>
      <td th:if="${isResponsable}">
      	<a th:href="'/client/supprimerClient/' + ${ client.id }"><button type="button" class="btn btn-danger">Supprimer</button></a>
      	<a th:href="'/client/modifierClient/' + ${ client.id }"><button type="button" class="btn btn-primary">Modifier</button></a>
      </td>
			</tr>
		</tbody>
	</table>
</body>

</html>